body {
	
	font-family: 'Helvetica', sans-serif;
	/*font-family: 'Orbitron', sans-serif;*/
	letter-spacing: 0.8px;
	text-align: left;
	color: #eeaa44;	
	background: #222222;
	margin: 0;
	width: 100%;
}

html {
	height: 100%;
}

* {
margin: 0;
padding: 0;
}

h1 {
	font-size: 20px;
}

p {
	padding-bottom: 22px;
	line-height: 22px;
}

textarea {
	background: #111111;
	color: #FFFFFF;
	padding: 12px;
	box-sizing: border-box;
	width: 100%;
	max-height: 120px;
}

#main-container {
	background: #000000;
	width: 90%;
	padding: 2% 5%;
	margin: 2% auto;
}

#avatar-container {
	width: 100%;
	max-width: 100%;
	float: none;
}

iframe.idoru-holder {
	width: 100%;
	height: 200px;
	max-height: 200px;
}

#chat-container {
	width: 100%;
	float: none;
	padding-top: 12px;
	/*background: #333333;*/
}

#bottom {
	clear: both;
	width: 90%;
	padding: 2% 0 0 0;
	
	/*background: #444444;*/
}

@media screen and (min-width: 32.0em) {
	h1 {
		font-size: 28px;
	}
	textarea {
		max-height: 200px;
	}
	#main-container {
		width: 90%;
		padding: 2% 5%;
		margin: 0 auto;
		max-width: 1280px;
	}
	#avatar-container {
		width: 50%;
		max-width: 50%;
		float: left;
	}

	#chat-container {
		padding-top: 32px;
		width: 40%;
		float: left;
		/*background: #333333;*/
	}

	iframe.idoru-holder {
		width: 100%;
		height: 400px;
		max-height: 400px;
	}
}

@media screen and (min-width: 56.875em) {
	h1 {
		font-size: 36px;
	}
	textarea {
		max-height: 400px;
	}
	#main-container {
		width: 60%;
		padding: 2% 10%;
		margin: 2% auto;
		max-width: 1280px;
	}
	#avatar-container {
		width: 50%;
		max-width: 50%;
		margin-top: -8px;
		float: left;
	}

	#chat-container {
		padding-top: 72px;
		width: 50%;
		float: left;
		/*background: #333333;*/
	}

	iframe.idoru-holder {
		width: 100%;
		height: 600px;
		max-height: 600px;
	}
}


